# Slicing a Dataframe (loc and iloc)

In [ ]:
# loc : label based accessing function
# iloc : Position based accessing function

In [1]:
import pandas as pd

# Create some variables
trials = range(1, 21)
n_rows = len(trials)
subj_id = [1]*n_rows
group = ['Control']*n_rows
condition = ['Affect']*int((n_rows/2)) + ['Neutral']*int((n_rows/2))

# Create a dictionairy
data = {'Condition':condition, 'Subject_ID':subj_id, 
        'Trial':trials, 'Group':group}

# Create the dataframe
df = pd.DataFrame(data)
df.head(10)

  Condition    Group  Subject_ID  Trial
0    Affect  Control           1      1
1    Affect  Control           1      2
2    Affect  Control           1      3
3    Affect  Control           1      4
4    Affect  Control           1      5
5    Affect  Control           1      6
6    Affect  Control           1      7
7    Affect  Control           1      8
8    Affect  Control           1      9
9    Affect  Control           1     10

In [8]:
df[4:10:1]

  Condition    Group  Subject_ID  Trial
4    Affect  Control           1      5
5    Affect  Control           1      6
6    Affect  Control           1      7
7    Affect  Control           1      8
8    Affect  Control           1      9
9    Affect  Control           1     10

In [9]:
df.loc[4:9, :]

  Condition    Group  Subject_ID  Trial
4    Affect  Control           1      5
5    Affect  Control           1      6
6    Affect  Control           1      7
7    Affect  Control           1      8
8    Affect  Control           1      9
9    Affect  Control           1     10

In [11]:
df.loc[4, 'Condition']

'Affect'

In [16]:
df.loc[4: 9,['Condition', 'Group']]

  Condition    Group
4    Affect  Control
5    Affect  Control
6    Affect  Control
7    Affect  Control
8    Affect  Control
9    Affect  Control

In [18]:
df.loc[4:10, : 'Subject_ID' ]

   Condition    Group  Subject_ID
4     Affect  Control           1
5     Affect  Control           1
6     Affect  Control           1
7     Affect  Control           1
8     Affect  Control           1
9     Affect  Control           1
10   Neutral  Control           1

In [20]:
df.loc[4:10, :]

   Condition    Group  Subject_ID  Trial
4     Affect  Control           1      5
5     Affect  Control           1      6
6     Affect  Control           1      7
7     Affect  Control           1      8
8     Affect  Control           1      9
9     Affect  Control           1     10
10   Neutral  Control           1     11

In [21]:
df.iloc[4:10, :]

  Condition    Group  Subject_ID  Trial
4    Affect  Control           1      5
5    Affect  Control           1      6
6    Affect  Control           1      7
7    Affect  Control           1      8
8    Affect  Control           1      9
9    Affect  Control           1     10

In [27]:
df.iloc[4:11, [0,2,3]]

   Condition  Subject_ID  Trial
4     Affect           1      5
5     Affect           1      6
6     Affect           1      7
7     Affect           1      8
8     Affect           1      9
9     Affect           1     10
10   Neutral           1     11